<md-toolbar layout="column" layout-align="center center">
    <div class="md-toolbar-tools" layout-align="center center">
    	<div class="container" layout="row" layout-align="center center">
	        <h1>JAS Brasília</h1>
	        <span flex></span>
	        <!-- <a ui-sref="app.dashboard" ui-sref-active="active" class="top-nav-item"
	        	translate="dashboard.DASHBOARD">Dashboard</a> -->
	        <a ui-sref="app.users" ui-sref-active="active" class="top-nav-item"
	        	translate="users.USERS">Usuários</a>
	        <!-- <a ui-sref="app.core.examples" ui-sref-active="active" class="top-nav-item"
	        	translate="core.EXAMPLES">Exemplos</a> -->
    	</div>
    </div>
</md-toolbar>