<!-- TITULO DE PAGINA -->
<md-toolbar class="md-tall md-whiteframe-2dp" layout-align="center center">
    <div class="container" layout="column" layout-align="center center">
        <h1 translate="users.form.TITLE_EDIT"></h1>
        <div class="page-fab" layout="row" layout-align="end start">
            <md-button ui-sref="app.users" class="md-fab md-primary md-hue-1 animated zoomIn" aria-label="Eat cake">
                <md-tooltip md-direction="top">
                    <span translate="core.button.GO_BACK">Voltar</span>
                </md-tooltip>
                <md-icon md-svg-src="navigation:arrow_back"></md-icon>
            </md-button>
            <md-button ng-click="vm.addPhoto()" class="md-fab md-primary md-hue-1 animated zoomIn" aria-label="Eat cake">
                <md-tooltip md-direction="top">
                    <span translate="users.form.ADD_PHOTO"></span>
                </md-tooltip>
                <md-icon md-svg-src="image:photo_camera"></md-icon>
            </md-button>
            <md-button ng-click="vm.save(form)" class="md-fab animated zoomIn" aria-label="Eat cake">
                <md-tooltip md-direction="top">
                    <span translate="core.button.SAVE"></span>
                </md-tooltip>
                <md-icon md-svg-src="navigation:check"></md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>
<!-- FIM TITULO DE PAGINA -->
<md-card class="container animated fadeInUp md-padding" layout-wrap>
    <md-content>
        <form name="form">
            <div ng-include=" 'users/views/_fields.html' "></div>
        </form>
    </md-content>
</md-card>