<div style="width: 100%" st-table="vm.displayedUsers" st-safe-src="vm.users">
    <!-- TITULO DE PAGINA -->
    <md-toolbar class="md-tall" layout-align="center center">
    <div class="container" layout="column" layout-align="center center">
        <h1 translate="users.list.TITLE"></h1>
    </div>
    </md-toolbar>
    <!-- FIM TITULO DE PAGINA -->
    <!-- SEARCH BAR -->
    <div class="page-search md-whiteframe-1dp animated bounceInDown" layout="row" layout-align="center center">
        <div class="container" layout="row">
            <md-icon md-svg-icon="action:search" aria-label="Search"></md-icon>
            <input type="search" st-search placeholder="{{ 'users.SEARCH_USER' | translate }}" flex name="search">
        </div>
    </div>
    <br>
    <!-- FIM SEARCH BAR -->
    <div layout="column" layout-align="start center">
        <div class="container animated fadeIn" layout-align="center center">
            <table class="md-table">
                <thead>
                    <tr>
                        <th st-sort="name" translate="users.NAME"></th>
                        <th st-sort="email" translate="users.EMAIL"></th>
                        <th translate="core.table.ACTIONS"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.displayedUsers | filter: vm.search track by user.id">
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <md-button title="Launch Google.com in new window"
                                aria-label="Google.com"
                                class="md-icon-button launch">
                                <md-icon size="20" md-svg-icon="action:delete"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>