.container
	width: 1160px

#content
	background-color: #f9f9f9

// @mixings
=transition($delay: 200ms, $property: all)
	transition: $property $delay

.page-search
	width: 100%
	padding: 16px 0
	background: white
	z-index: 1
	input
		background: transparent
		border: none
		outline: none
		font-size: 20px
		line-height: 26px
		margin-left: 16px
		color: #434343

.text-center
	text-align: center !important